<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
    <h6><%= @project.title %></h6>
    <hr>
  </header>

  <div id="content">
   <%= @project.content %>
  </div>

  <hr>
</div>